table.imagetable {  
    font-family: verdana,arial,sans-serif;  
    font-size:11px;  
    color:#333333;  
    border-width: 1px;  
    border-color: #999999;  
    border-collapse: collapse;  
	margin: 0 auto;
}  
table.imagetable tbody th {  
    background:#b5cfd2 url('../images/cell-blue.jpg') no-repeat;  
    border-width: 1px;  
    padding: 4px;  
    border-style: solid;  
    border-color: #999999;  
}  
table.imagetable tbody td {  
    background:#dcddc0 url('../images/cell-grey.jpg') no-repeat;  
    border-width: 1px;  
    padding: 4px;  
    border-style: solid;  
    border-color: #999999;  
	text-align: center;
}
table.imagetable tbody td input,table.imagetable tbody td textarea { 
	width: 20px;
    height: 20px;
    background: none;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
	resize: none;
}
table.imagetable tfoot td{
	padding: 5px 50px;
    font-size: 14px;
    color: #aaa;
}
    
table.imagetable caption{ text-align: center; line-height: 33px; font-size: 24px; color: #222; padding: 20px 0; margin-top: 10px; }

.btns {
	width :1000px;
	margin: 0 auto;
}
.btn {
	float : right;
    width: 98px;
    height: 42px;
    border-radius: 3px;
    border: 1px rgba(217, 21, 48, 0.91) solid;
    background: rgba(217, 21, 48, 0.91);
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.1);
    -o-box-shadow: 0 0 5px rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}