@charset "utf-8";
body {background:url(../images//bg.jpg); font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
#wall {width:1050px;display:block; margin: 0px auto;}
.block{width:205px;height:149px;border: none;display:inline-block; position: relative;float:left;box-sizing: border-box;}

.block.select {border:2px solid green;}
.block .getIt {position: absolute;margin-top: -10px; margin-left: -25px; left: 50%; top: 50%;}
.block .getIt button { width: 50px; height: 20px;}
.block .inputDiv {position: absolute;margin-top: -40px; margin-left: -80px; left: 50%; top: 50%;}
.block .inputDiv input {width:150px; height: 20px; border: none; text-align: center; margin: 5px;}
.block .inputDiv button {width:150px; height: 20px; margin: 5px;}
.block div {width:100%; height:100%;}
.block .owner .username {position: absolute;margin-top: -10px; top: 50%; color:#fff;display: inline-block;width: 100%;height: 20px;text-align: center;}

footer {height:20px;width:100%;margin-top:-20px;text-align:center;}
footer a {text-decoration:none;color:#333;}
.passwordInput {float:left; position: relative; width: 150px; height: 20px; margin-top: -10px; margin-left: -75px; left: 50%; top: 50%;}
.passwordInput input {width:150px; height: 20px; border: none; text-align: center;}


/**翻转**/
.in {
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-duration: 350ms;
	animation-timing-function: ease-out;
	animation-duration: 350ms;
}
.out {
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 225ms;
	animation-timing-function: ease-in;
	animation-duration: 225ms;
}
.block{
	-webkit-perspective: 1000px;
	perspective: 1000px;
}
.block {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0); /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
	backface-visibility: hidden;
	transform: translateX(0);
}
.block.out {
	-webkit-transform: rotateY(-90deg) scale(.9);
	-webkit-animation-name: flipouttoleft;
	-webkit-animation-duration: 175ms;
	transform: rotateY(-90deg) scale(.9);
	animation-name: flipouttoleft;
	animation-duration: 175ms;
}
.block.in {
	-webkit-animation-name: flipintoright;
	-webkit-animation-duration: 225ms;
	animation-name: flipintoright;
	animation-duration: 225ms;
}
@-webkit-keyframes flipouttoleft {
    from { -webkit-transform: rotateY(0); }
    to { -webkit-transform: rotateY(-90deg) scale(.9); }
}
@keyframes flipouttoleft {
    from { transform: rotateY(0); }
    to { transform: rotateY(-90deg) scale(.9); }
}
@-webkit-keyframes flipintoright {
    from { -webkit-transform: rotateY(90deg) scale(.9); }
    to { -webkit-transform: rotateY(0); }
}
@keyframes flipintoright {
    from { transform: rotateY(90deg) scale(.9); }
    to { transform: rotateY(0); }
}
.box {
    width: 200px;
    height: 282px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.list {
    position: absolute;
}