@charset "utf-8";
/* CSS Document */
body{
margin:0px;
padding:0px;
font-family:"宋体";
font-size:12px;
background:url(../images/bg.jpg);
}
img{ border:none;}
ul,li{
padding:0px;
margin:0px;
}
a{ text-decoration:none}
#nav{ margin-top:240px; text-align:center;  width:560px; height:30px; padding-left:107px;}
#nav span{ width:108px; height:27px; background: url(../images/btn.jpg) no-repeat; margin-right:20px;  display:block; cursor:pointer; float:left; }
#nav span a{ color:#FFFFFF; font-size:12px; line-height:27px; width:108px; height:27px; display:block; cursor:pointer; float:left; }
#nav span a:hover{ color: #FF9900;}

