<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windf.module.example.dao.ExampleDao">

     <select id="count" parameterType="java.util.HashMap" resultType="long" >
       SELECT
			count(id)
		FROM 
			example e 
		WHERE 1=1
		 <if test="param1 != null and  param1.name != null">    
	        and name = #{param1.name}    
	    </if>    
    </select>
    
     <select id="list" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
       SELECT
			id, name, age
		FROM 
			example e
		WHERE 1=1
		 <if test="param1 != null and param1.name != null">    
	        and name = #{param1.name}    
	    </if>    
    </select>
   
</mapper>