.container { margin-right: auto; margin-left: auto; padding-left: 10px; padding-right: 10px; }
.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }
@media (min-width: 768px) { .container { width: 740px; } }
@media (min-width: 992px) { .container { width: 960px; } }
@media (min-width: 1200px) { .container { width: 1200px; } }
