@charset "UTF-8";
.c_red, .title, .mod_title h3 { color: #bf2025; }

.c_note { color: #959595; }

.c_green { color: #009900; }

.c_hui { color: #d0d0d0; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.hidden { display: none !important; }

.affix { position: fixed; }

/** Pagination */
.pagin { display: block; }

.pagin-link { display: inline-block; padding: 5px 10px; margin: 0 2px; border-radius: 3px; border: 1px #ddd solid; background: #ffffff; line-height: 18px; font-size: 12px; color: #727272; text-decoration: none; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.pagin-link i { font-size: 10px; }

.pagin-link:hover { border-color: #bf2025; box-shadow: 0 0 3px #eee; color: #bf2025; }

.pagin-cur, .pagin-cur:hover { border-color: #bf2025; background: #bf2025; color: #ffffff; }

.pagin-disable { color: #afafaf; cursor: default; }

.pagin-disable:hover { border-color: #ddd; background: #ffffff; }

.pagin-ell { line-height: 18px; font-size: 14px; color: #bf2025; }

.pagin-txt { display: inline-block; padding: 5px 8px; line-height: 18px; font-size: 12px; color: #666; }

.pagin-jump, .pagin-jump-focus { display: inline-block; *vertical-align: -5px; border: 1px #ddd solid; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.pagin-input { *float: left; width: 40px; height: 26px; border: none; outline: none; background: #fff; line-height: 26px\9; *line-height: 26px; text-align: center; font-size: 12px; color: #bf2025; }

.pagin-btn { *float: left; display: none; padding: 0 10px; line-height: 26px; font-size: 12px; color: #fff; text-decoration: none; }

.pagin-btn:hover { color: #FFFFFF; }

.pagin-jump-focus { border-color: #bf2025; background: #bf2025; *vertical-align: -1px; }

.pagin-jump-focus .pagin-btn { display: inline-block; }

.pager { padding-left: 0; list-style: none; text-align: center; }
.pager:before, .pager:after { content: " "; display: table; }
.pager:after { clear: both; }
.pager li { display: inline; }
.pager li > a, .pager li > span { display: inline-block; padding: 5px 14px; background-color: #ffffff; border: 1px solid #ddd; color: #727272; border-radius: 5px; }
.pager li > a:hover, .pager li > a:focus { text-decoration: none; background-color: #bf2025; border: 1px solid #bf2025; color: #ffffff; }
.pager .next > a, .pager .next > span { float: right; }
.pager .previous > a, .pager .previous > span { float: left; }
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span { color: red; background-color: #bf2025; cursor: pointer; }

.box, .boxClear { display: block; background: #fff; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.headbox { background: url(../images/headbg.jpg) top center no-repeat #bf2025; }

/*logo+box*/
.logo { padding: 10px 20px 10px 0px; }
.logo img { display: block; max-width: 100%; height: auto; }

.box { padding: 10px; }

@media (min-width: 768px) { .logo { padding: 24px 0px 24px 13px; }
  .box { padding: 15px; } }
@media (min-width: 1200px) { .logo { height: 54px; }
  .box { padding: 20px; } }
.footbox { font-size: 12px; background: #444444; }
.footbox .foot span { color: #bcbe06; }
.footbox .foot a { color: #d4d4d4; margin-right: 20px; }
.footbox .foot a:hover { color: #FFFFFF; }
.footbox .copy { border-top: 1px solid #575757; color: #d4d4d4; text-align: center; }

@media (min-width: 768px) { .footbox { font-size: 14px; } }
.local { line-height: 30px; padding: 5px 0px; }
.local a { color: #666; }
.local a:hover { color: #bf2025; }

@media (min-width: 768px) { .local { line-height: 54px; }
  .pager { display: none; } }
@media (max-width: 768px) { .foot, .pagin { display: none; } }
/*searchbox*/
.searchbox { height: 28px; border: 2px solid #d62203; display: block; margin-left: auto; margin-right: auto; position: relative; }
.searchbox .search_ico1 { width: 28px; height: 28px; font-size: 14px; color: #d62203; line-height: 28px; position: absolute; z-index: 2; left: 5px; top: 0px; display: inline-block; text-align: center; }
.searchbox .search_con { height: 28px; margin: 0px 30px 0px 40px; display: block; }
.searchbox .search_input { width: 100%; height: 28px; border: none; background: #FFFFFF; z-index: 1; color: #afafaf; }
.searchbox .search_btm { width: 60px; height: 28px; background: #d62203; position: absolute; z-index: 2; right: 0px; top: 0px; cursor: pointer; color: #FFFFFF; line-height: 28px; }

@media (min-width: 768px) { .searchbox { width: 400px; } }
.title { font-size: 16px; line-height: 24px; }

@media (min-width: 768px) { .title { font-size: 18px; line-height: 28px; } }
/*导航*/
.mod_title { background: url(../images/mod_title.gif) center repeat-x; position: relative; }
.mod_title h3 { font-size: 16px; display: inline-block; padding: 0px 14px 0px 13px; }
.mod_title .sub_menu { background: url(../images/mod_titlebg.jpg) left center no-repeat #FFFFFF; }
.mod_title .ind_menu { background: url(../images/mod_titlebg.jpg) left center no-repeat #f6f6f6; }
.mod_title span { padding-left: 5px; }
.mod_title span a { color: #666; }
.mod_title span a:hover { color: #bf2025; }
.mod_title .sub_span { background: #FFFFFF; }
.mod_title .ind_span { background: #f6f6f6; }

.mod_title1 { height: 43px; background: url(../images/bg/ddck_cansai_dafenbg.jpg) bottom repeat-x; padding: 0px 20px; }
.mod_title1 h3 { font-size: 16px; line-height: 42px; border-bottom: 1px solid #bf2025; padding: 0px 10px; color: #bf2025; }

.mod_echart li { float: left; font-size: 16px; line-height: 42px; }
.mod_echart li a { display: block; padding: 0px 12px; color: #666; }
.mod_echart li .echartTab-cur { border-bottom: 1px solid #bf2025; color: #bf2025; }

.yj_left_menu { height: 42px; background: url(../images/bg/ddck_cansai_dafenbg.jpg) bottom repeat-x; padding: 0px 20px; line-height: 42px; color: #bf2025; }
.yj_left_menu i { font-size: 18px; margin-right: 5px; margin-left: -5px; }

.link { color: #666; }

.link:hover { color: #bf2025; }

.box_link { background: #fff; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.box_link:hover { -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); -ms-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); }

/* css3过渡动画效果 */
.trans { transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; }

.dh_img img { transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -o-transition: all .5s; -ms-transition: all .5s; }

.dh_img:hover img { transform: scale(1.12, 1.12); -moz-transform: scale(1.12, 1.12); -webkit-transform: scale(1.12, 1.12); -o-transform: scale(1.12, 1.12); -ms-transform: scale(1.12, 1.12); }

.box10 { margin-left: 10px; margin-right: 10px; }
.box10:before, .box10:after { content: " "; display: table; }
.box10:after { clear: both; }

.box20 { margin-left: 20px; margin-right: 20px; }
.box20:before, .box20:after { content: " "; display: table; }
.box20:after { clear: both; }

/** Icons 1. Small icons 2. Medium icons 3. Large icons */
.filetype { display: inline-block; background-image: url(../images/filetype.png); background-repeat: no-repeat; }

/* 1 */
.filetype_excel_sm, .filetype_ppt_sm, .filetype_word_sm, .filetype_html_sm, .filetype_pdf_sm, .filetype_video_sm { width: 16px; height: 16px; }

.filetype_excel_sm { background-position: 0 0; }

.filetype_ppt_sm { background-position: -40px 0; }

.filetype_word_sm { background-position: -80px 0; }

.filetype_html_sm { background-position: -120px 0; }

.filetype_pdf_sm { background-position: -160px 0; }

.filetype_video_sm { background-position: -200px 0; }

/* 2 */
.filetype_excel_md, .filetype_ppt_md, .filetype_word_md, .filetype_html_md, .filetype_pdf_md, .filetype_video_md { width: 20px; height: 20px; }

.filetype_excel_md { background-position: 0 -40px; }

.filetype_ppt_md { background-position: -40px -40px; }

.filetype_word_md { background-position: -80px -40px; }

.filetype_html_md { background-position: -120px -40px; }

.filetype_pdf_md { background-position: -160px -40px; }

.filetype_video_md { background-position: -200px -40px; }

/* 3 */
.filetype_excel_lg, .filetype_ppt_lg, .filetype_word_lg, .filetype_html_lg, .filetype_pdf_lg, .filetype_video_lg { width: 23px; height: 27px; }

.filetype_excel_lg { background-position: 0 -80px; }

.filetype_ppt_lg { background-position: -40px -80px; }

.filetype_word_lg { background-position: -80px -80px; }

.filetype_html_lg { background-position: -120px -80px; }

.filetype_pdf_lg { background-position: -160px -80px; }

.filetype_video_lg { background-position: -200px -80px; }

.title_ico { color: #888888; }
.title_ico i { margin-right: 3px; }

.p_info_split { margin: 0px 10px; }

/*会员图像*/
/* 1 */
.portrait_sm, .portrait_sm img { width: 46px; height: 46px; border-radius: 50%; }

.portrait_sm { border: 3px #fff solid; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

/* 2 */
.portrait_md, .portrait_md img { width: 90px; height: 90px; border-radius: 50%; }

.portrait_md { border: 5px #fff solid; -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }

/* 3 */
.portrait_lg, .portrait_lg img { width: 130px; height: 130px; border-radius: 50%; }

.portrait_lg { border: 5px #fff solid; -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); box-shadow: 0 0 15px rgba(0, 0, 0, 0.15); }

/*tag*/
.tag { font-size: 12px; display: inline-block; line-height: 22px; padding: 0px 12px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-border-radius: 3px; color: #ffffff; margin-left: 5px; }

.tag_red { background: #e67174; }

/*过滤筛选*/
.filter:before, .filter:after { content: " "; display: table; }
.filter:after { clear: both; }
.filter ul { padding-bottom: 15px; padding-top: 5px; border-bottom: 1px solid #eaeaea; }
.filter ul a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.filter_link, .filter_link1 { line-height: 24px; display: block; margin: 0px 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -moz-border-radius: 3px; text-align: center; color: #666; margin-top: 10px; }

.filter_link:hover, .filter_link1:hover, .filter_selected { background: #bf2025; color: #FFFFFF; }

.filter_menu { font-size: 16px; line-height: 34px; border-bottom: 1px solid #eaeaea; position: relative; padding-left: 35px; }

/* 选项统一样式 */
.filter_menu label { cursor: pointer; }

/* 将原始选项按钮隐藏 */
.filter_menu .label_radio input { position: absolute; left: -99999px; }

/* 默认未选中，时选项按钮样式 */
.filter_menu .btn_radio { position: absolute; top: 9px; left: 14px; width: 16px; height: 16px; background: url(../images/form.png) no-repeat; background-position: -40px 0; }

/* 鼠标滑过时，选项按钮样式 */
.filter_menu .label_radio:hover .btn_radio { background-position: -40px -20px; }

/* 选中时，选项按钮样式 */
.filter_menu label.r_on .btn_radio, .filter_menu label.r_on:hover .btn_radio { background-position: -40px -40px; }

.filter_pn { position: absolute; right: 10px; top: 0px; }

.kehu { height: 34px; display: block; margin-left: auto; margin-right: auto; overflow: hidden; }

.kehu_con { width: 150px; overflow: hidden; }

.kehu_con ul { width: 9999px; }

.kehu_con ul li { width: 150px; float: left; }

.kh_prev, .kh_next { display: inline-block; width: 25px; height: 18px; margin-right: 5px; background: #ccc; text-align: center; line-height: 18px; font-size: 18px; color: #fff; }

/*grid*/
@media (min-width: 992px) { .te-md-2, .te-md-8, .yj_left, .yj_rigt, .yj_col1, .yj_col2, .yj_lw_listL, .yj_lw_listR { float: left; position: relative; }
  .te-md-2 { width: 20%; }
  .te-md-8 { width: 80%; }
  .yj_left { width: 75.5%; }
  .yj_rigt { width: 24.5%; }
  .yj_col1 { width: 29.5%; }
  .yj_col2 { width: 70.5%; }
  .yj_lw_listL { width: 78%; }
  .yj_lw_listR { width: 22%; } }
/** Check styles for table */
/* 选项统一样式 */
.table label { position: relative; display: inline-block; cursor: pointer; vertical-align: -2px; padding-left: 20px; min-height: 16px; margin: 0 5px; }

/* 将原始选项按钮隐藏 */
.table .label_check input, .table .label_radio input { position: absolute; left: -99999px; }

/* 默认未选中时，选项按钮样式 */
.table .btn_check, .table .btn_radio { position: absolute; top: 7px; left: 0; width: 14px; height: 14px; background: url(../images/form.png) no-repeat; background-position: -20px 0; }

/* 鼠标滑过时，选项按钮样式 */
.table .label_check:hover .btn_check, .table .label_radio:hover .btn_radio { background-position: -20px -20px; }

/* 选中时，选项按钮样式 */
.table label.c_on .btn_check, .table label.c_on:hover .btn_check, .table label.r_on .btn_radio, .table label.r_on:hover .btn_radio { background-position: -20px -40px; }

/* 选中时，选项样式 */
.table label.c_on, .table label.c_on:hover, .table label.r_on, .table label.r_on:hover { color: #bf2025; }

/*# sourceMappingURL=public.css.map */
