.x-tree-node  .iconCls_layout_content {
	background-image: url(../images/default/mulu/layout_content.png)
}

.x-tree-node  .iconCls_layout_folder {
	background-image: url(../images/default/tree/folder.gif)
}

.x-tree-node  .iconCls_book {
	background-image: url(../images/default/mulu/book.png)
}

.x-tree-node  .iconCls_package {
	background-image: url(../images/default/mulu/package.png)
}

.x-tree-node  .iconCls_brick {
	background-image: url(../images/default/mulu/brick.png)
}

.x-tree-node  .iconCls_world_link {
	background-image: url(../images/default/mulu/world_link.png)
}
.save {
	background-image: url(../images/save.png) !important;
}
.back {
	background-image: url(../images/back.gif) !important;
}
.editor{background-image: url(../images/editor.gif) !important;}
.cancel {
	background-image: url(../images/cancel.png) !important;
}
.theme-blue {
	background-image: url(../images/theme-blue.png) !important;
}
.theme-chocolate {
	background-image: url(../images/theme-chocolate.png) !important;
}
.theme-green {
	background-image: url(../images/theme-green.png) !important;
}
.theme-darkgray {
	background-image: url(../images/theme-darkgray.png) !important;
}
.theme-gray {
	background-image: url(../images/theme-gray.png) !important;
}
.theme-indigo {
	background-image: url(../images/theme-indigo.png) !important;
}
.theme-olive {
	background-image: url(../images/theme-olive.png) !important;
}
.theme-peppermint {
	background-image: url(../images/theme-peppermint.png) !important;
}
.theme-purple {
	background-image: url(../images/theme-purple.png) !important;
}
.theme-slate {
	background-image: url(../images/theme-slate.png) !important;
}




