//
@import "clearfix";
@import "center-block";
@import "hide_text";
@import "text-overflow";
@import "opacity";

//块四周圆角：默认5px//
@mixin border-radius($radius:5px){
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius;
    -moz-border-radius: $radius;
}

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}
