<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windf.module.sso.dao.SsoDao">

    <insert id="insert" parameterType="com.windf.module.sso.entity.Sso" useGeneratedKeys="true" keyProperty="id">
        insert into `sso`(username,turename,password, email, phone, lastLoginIp, lastLoginTime) 
        	values(#{username},
        				#{turename},
        				#{password},
        				#{email},
        				#{phone},
        				#{lastLoginIp},
        				now()
        				)
    </insert>
    <select id="getById" parameterType="int" resultType="com.windf.module.sso.entity.Sso">
       select * from `sso` where id = #{id}
    </select>
    <select id="getByUsername" parameterType="String" resultType="com.windf.module.sso.entity.Sso">
       select * from `sso` where username = #{username}
    </select>
    <update id="updatePhone" parameterType="com.windf.module.sso.entity.Sso" >
        update `sso` set phone = #{phone} where id = #{id}
    </update>
    <update id="updatePassword" parameterType="com.windf.module.sso.entity.Sso">
        update `sso` set password = #{password} where id = #{id}
    </update>
    <update id="updateLogin" parameterType="com.windf.module.sso.entity.Sso">
        update `sso` set lastLoginIp = #{lastLoginIp}, lastLoginTime=now() where id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
       delete from `sso` where id = #{id}
    </delete>
   
</mapper>