<module>
	<code>example</code>
	<name>例子</name>
	<info>用于展示，和作为其他新建模块的模板</info>
	<basePath>/example</basePath>
	<path>
		<classes>/WEB-INF/classes/com/whaty/module/example</classes>
		<config>/WEB-INF/config/module/example</config>
		<html>/WEB-INF/view/module/example</html>
		<resource>/resources/module/example</resource>
		<incoming>/incoming/module/example</incoming>
		<export>/export/module/example</export>
	</path>
</module>