<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windf.module.priority.dao.PriorityDao">
    
    <select id="getById" parameterType="int" resultType="com.windf.module.priority.entity.Priority">
       	SELECT
			p.*
		FROM
			priority p
		INNER JOIN priority_r_role_priority rp ON rp.fk_priority_id = p.id
		WHERE
			rp.flag_Isvalid = '1'
		AND r.fk_role_id = #{param1}
    </select>
   
     <select id="count" parameterType="java.util.HashMap" resultType="long" >
       SELECT
			count(id)
		FROM 
			priority t
		WHERE 1=1
		 <if test="name != null">    
	        and name like CONCAT('%',#{name},'%')
	    </if>
		 <if test="url != null">    
	        and url like CONCAT('%',#{url},'%')
	    </if>   
    </select>
    
     <select id="list" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
       SELECT
			id, name, url
		FROM 
			priority t
		WHERE 1=1
		<if test="param1 != null">
			<if test="param1.name != null">    
		        and name like CONCAT('%',#{param1.name},'%')
		    </if>
			 <if test="param1.url != null">    
		        and url like CONCAT('%',#{param1.url},'%')
		    </if>   
		</if>
	    <if test="param2 != null and param3 != null"> 
	     LIMIT #{param2}, #{param3}
	    </if>
    </select>
    
    <select id="find" parameterType="string" resultType="java.util.HashMap" >
     	 SELECT
			id, name, url
		FROM 
			priority t
		WHERE id = #{param1}
    </select>
    
    <insert id="insert" parameterType="java.util.HashMap" keyProperty="id">
       INSERT INTO priority (name, url)
		VALUES
			(#{name}, #{url})
    </insert>
    
    <update id="update" parameterType="java.util.HashMap" >
        update priority set name = #{name}, url = #{url}
        where id = #{id}
    </update>
    
    <delete id="delete" parameterType="List" >
        delete from priority where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
		  #{item}  
		 </foreach> 
    </delete>
</mapper>